<!DOCTYPE html>
<html data-theme="dark" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bhel - Your Light Exercise Timer 💪</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
<link rel="manifest" href="site.webmanifest">
    <script type="module">
      import { createApp } from "https://unpkg.com/petite-vue?module";
      var interval;
      var msg = new SpeechSynthesisUtterance();
      msg.volume = 1;
      var audioPlayer = document.getElementById("exercise-audio");
      // var context = new AudioContext();

      // const loud = (freq = 520, duration = 250, vol = 50) => {
      //   const oscillator = context.createOscillator();
      //   const gain = context.createGain();
      //   oscillator.connect(gain);
      //   oscillator.frequency.value = freq;
      //   oscillator.type = "square";
      //   gain.connect(context.destination);
      //   gain.gain.value = vol * 0.01;
      //   oscillator.start(context.currentTime);
      //   oscillator.stop(context.currentTime + duration * 0.001);
      // };

      // const flat = (freq = 2500, duration = 450, vol = 50) => {
      //   const oscillator = context.createOscillator();
      //   const gain = context.createGain();
      //   oscillator.connect(gain);
      //   oscillator.frequency.value = freq;
      //   oscillator.type = "sine";
      //   gain.connect(context.destination);
      //   gain.gain.value = vol * 0.01;
      //   oscillator.start(context.currentTime);
      //   oscillator.stop(context.currentTime + duration * 0.001);
      // };
      function durationString(timer) {
        var minutes = parseInt(timer / 60, 10);
        var seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;
        return minutes + ":" + seconds;
      }
      function speak(text, rate) {
        audioPlayer.volume = 0.1;
        msg.rate = rate ?? 1;
        msg.text = text;
        window.speechSynthesis.speak(msg);
        setTimeout(() => {
          audioPlayer.volume = 0.4;
        }, 1000);
      }
      createApp({
        // exposed to all expressions
        gap: 2,
        timers: [
          {
            name: "Forward Shoulder Rotation",
            break: false,
            time: 15,
          },
          {
            name: "Reverse Shoulder Rotation",
            break: false,
            time: 15,
          },
          {
            name: "Jumping Jacks",
            break: false,
            time: 45,
          },
          {
            name: "Butt Kicks",
            break: false,
            time: 45,
          },
          {
            name: "Break",
            break: true,
            time: 15,
          },
          {
            name: "Leg Raise",
            break: false,
            time: 30,
          },
          {
            name: "Break",
            break: true,
            time: 15,
          },
          {
            name: "Leg Scissors",
            break: false,
            time: 30,
          },
          {
            name: "Break",
            break: true,
            time: 10,
          },
          {
            name: "Knee High Crunches",
            break: false,
            time: 30,
          },
          {
            name: "Break",
            break: true,
            time: 10,
          },
          {
            name: "Wall Pushup Bicep",
            break: false,
            time: 30,
          },
          {
            name: "Break",
            break: true,
            time: 10,
          },
          {
            name: "Wall Pushup Tricep",
            break: false,
            time: 30,
          },
          {
            name: "Break",
            break: true,
            time: 10,
          },
        ],
        timeouts: [],
        // getters
        get totalExerciseTime() {
          return durationString(
            this.timers.reduce((prev, next) => prev + next.time + this.gap, 0)
          );
        },
        // methods
        increment() {
          this.count++;
        },

        startTimer(duration, timerName) {
          clearInterval(interval);
          var timer = duration,
            minutes,
            seconds;
          var display = document.querySelector("#safeTimerDisplay");
          document.getElementById("timerName").innerText = timerName;
          display.innerHTML = durationString(timer);
          msg.lang = navigator.language;
          speak(timerName + " " + `${duration} seconds`);
          interval = setInterval(() => {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;
            display.innerHTML = durationString(timer);

            if (timer > 0 && timer < 6) {
              // loud();
              speak(timer, 2);
            }
            if (--timer < 0) {
              // flat();
              msg.text = "And Done";
              speak("And Done", 2);
              clearInterval(interval);
              // timer = duration; // uncomment this line to reset timer automatically after reaching 0
            }
          }, 1000);
        },
        startSingleTimerWithMusic(timer) {
          audioPlayer.load();
          audioPlayer.play();
          this.startTimer(timer.time, timer.name);
          this.timeouts.push(
            setTimeout(
              () => (audioPlayer.volume = audioPlayer.volume / 2),
              timer.time * 1000
            )
          );
          this.timeouts.push(
            setTimeout(
              () => (audioPlayer.volume = audioPlayer.volume / 2),
              (timer.time + this.gap / 2) * 1000
            )
          );
          this.timeouts.push(
            setTimeout(() => audioPlayer.pause(), (timer.time + this.gap) * 1000)
          );
        },
        startRoutine() {
          var lastTimeout = 0;
          this.timers.forEach((timer) => {
            this.timeouts.push(
              setTimeout(
                () => this.startTimer(timer.time, timer.name),
                lastTimeout * 1000
              )
            );
            lastTimeout += timer.time + this.gap;
          });
          audioPlayer.play();
        },
        clearTimeouts() {
          this.timeouts.forEach((timeout) => clearTimeout(timeout));
          this.timeouts = [];
        },
        stop() {
          clearInterval(interval);
          document.getElementById("safeTimerDisplay").innerText =
            durationString(0);
          document.getElementById("timerName").innerText =
            "Tap Start to Exercise";
          audioPlayer.pause();
          window.speechSynthesis.cancel()
          this.clearTimeouts();
        },
      }).mount("#app");
    </script>
  </head>
  <body>
    <main class="container" id="app">
      <hgroup style="text-align: center">
        <h1>Bhel</h1>
        <h4>Your Light Exercise Timer 💪</h4>
      </hgroup>
      <!-- Grid -->
      <div class="grid">
        <article>
          <hgroup style="text-align: center">
            <h1 id="safeTimerDisplay">00:00</h1>
            <h4 id="timerName">Tap Start to Exercise</h4>
          </hgroup>
          <footer>
            <button @click="startRoutine" v-if="timeouts.length === 0">
              Start Routine (💪 {{totalExerciseTime}})
            </button>
            <button class="secondary" @click="stop" v-else>Stop</button>
            <audio id="exercise-audio" loop>
              <source
                src="assets/music/mixkit-rising-forest-471.mp3"
                type="audio/mpeg"
              />
              Your browser does not support the audio element.
            </audio>

            <details>
              <summary>Routine Exercises</summary>
              <br />
              <button
                v-for="(timer, index) in timers"
                :key="timer"
                @click="startSingleTimerWithMusic(timer)"
              >
                 {{timer.name}} {{timer.time}} seconds {{timer.break? "⌛" : "💪"}}
              </button>
            </details>
          </footer>
        </article>
        <article>
          <label for="firstname">
            Name
            <input
              type="text"
              value=""
              id="name"
              name="name"
              placeholder="Name"
              required
            />
          </label>
          <label for="firstname">
            Seconds
            <input
              type="number"
              min="15"
              step="5"
              value="15"
              id="time"
              name="time"
              placeholder="time"
              required
            />
          </label>

          <button type="button">Add Exercise 💪</button>
          <label style="text-align: center">OR</label>
          <br />
          <button type="button">Add Break ⌛</button>
        </article>
      </div>
      <footer>
        music from:
        <a href="https://mixkit.co/" target="_blank" rel="noopener"> Mixkit </a>
      </footer>
    </main>

    <script></script>
  </body>
</html>
