<!DOCTYPE html>
<html data-theme="dark" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1" />
    <title>Bhel - Your Light Exercise Timer 💪</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
    <link rel="manifest" href="site.webmanifest" />
    <style>
      [v-cloak] {
        visibility: hidden;
      }
      .exercise {
        width: 80%;
        display: inline-block;
      }
      .remove-exercise {
        width: 15%;
        display: inline-block;
      }
    </style>
    <script>
      // The wake lock sentinel.
      let wakeLock = null;
      //Function that attempts to request a screen wake lock.
      const requestWakeLock = async () => {
        try {
          wakeLock = await navigator.wakeLock.request();
          wakeLock.addEventListener("release", () => {
            // console.log("Screen Wake Lock released:", wakeLock.released);
          });
          // console.log("Screen Wake Lock released:", wakeLock.released);
        } catch (err) {
          console.error(`${err.name}, ${err.message}`);
        }
      };

      // // Request a screen wake lock…
      requestWakeLock();
    </script>
    <script type="module">
      import { createApp } from "https://unpkg.com/petite-vue?module";
      var interval;
      var msg = new SpeechSynthesisUtterance();
      msg.volume = 1;
      var lastTotalTimeSpent = parseInt(
        window.localStorage.getItem("bhel-total-time-spent")
      );
      var audioPlayer = document.getElementById("exercise-audio");
      function durationString(timer) {
        var minutes = parseInt(timer / 60, 10);
        var seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;
        return minutes + ":" + seconds;
      }
      function speak(text, rate) {
        audioPlayer.volume = 0.1;
        msg.rate = rate ?? 1;
        msg.text = text;
        window.speechSynthesis.speak(msg);
        setTimeout(() => {
          audioPlayer.volume = 0.4;
        }, 1000);
      }
      createApp({
        // exposed to all expressions
        name: "My Exercise",
        time: 15,
        gap: 4,
        activeTimer: { time: 0, name: "Tap Start to Exercise" },
        totalTimeSpent:
          lastTotalTimeSpent && lastTotalTimeSpent != NaN
            ? lastTotalTimeSpent
            : 0,
        defaultTimers: [
          {
            name: "Forward Shoulder Rotation",
            time: 15,
          },
          {
            name: "Reverse Shoulder Rotation",
            time: 15,
          },
          {
            name: "Jumping Jacks",
            time: 45,
          },
          {
            name: "Butt Kicks",
            time: 45,
          },
          {
            name: "Break",
            time: 15,
          },
          {
            name: "Leg Raise",
            time: 30,
          },
          {
            name: "Break",
            time: 15,
          },
          {
            name: "Leg Scissors",
            time: 30,
          },
          {
            name: "Break",
            time: 10,
          },
          {
            name: "Knee High Crunches",
            time: 30,
          },
          {
            name: "Break",
            time: 10,
          },
          {
            name: "Wall Pushup Bicep",
            time: 30,
          },
          {
            name: "Break",
            time: 10,
          },
          {
            name: "Wall Pushup Tricep",
            time: 30,
          },
          {
            name: "Break",
            time: 10,
          },
        ],
        timers: JSON.parse(window.localStorage.getItem("bhel-routine")) ?? [],
        timeouts: [],
        // getters
        get activeTimeString() {
          return durationString(this.activeTimer.time);
        },
        get totalRoutineTime() {
          return durationString(
            this.timers.reduce((prev, next) => prev + next.time + this.gap, 0)
          );
        },
        get readableTotalTimeSpent() {
          return durationString(this.totalTimeSpent);
        },
        setRoutine(routine) {
          this.timers = routine;
          window.localStorage.setItem(
            "bhel-routine",
            JSON.stringify(this.timers)
          );
        },
        incrementTotalTime() {
          this.totalTimeSpent = this.totalTimeSpent + 1;
          window.localStorage.setItem(
            "bhel-total-time-spent",
            this.totalTimeSpent
          );
        },
        addTimer() {
          var timers = Object.values(this.timers);
          timers.push({ name: this.name, time: this.time });
          this.setRoutine(timers);
        },
        removeIndexFromTimer(index) {
          var timers = Object.values(this.timers);
          timers.splice(index, 1);
          this.setRoutine(timers);
        },
        startTimer(timer) {
          clearInterval(interval);
          this.activeTimer = timer;
          var duration = this.activeTimer.time;
          msg.lang = navigator.language;
          speak(timer.name + " " + `${this.activeTimer.time} seconds`);
          interval = setInterval(() => {
            this.incrementTotalTime();
            this.activeTimer.time = duration;
            if (duration > 0 && duration < 6) {
              // loud();
              speak(duration, 2);
            }
            if (--duration < 0) {
              // flat();
              msg.text = "And Done";
              speak("And Done", 2);
              clearInterval(interval);
            }
          }, 1000);
        },
        startSingleTimerWithMusic(timer) {
          audioPlayer.load();
          audioPlayer.play();
          this.startTimer({...timer});
          this.timeouts.push(
            setTimeout(
              () => (audioPlayer.volume = audioPlayer.volume / 2),
              timer.time * 1000
            )
          );
          this.timeouts.push(
            setTimeout(
              () => (audioPlayer.volume = audioPlayer.volume / 2),
              (timer.time + this.gap / 2) * 1000
            )
          );
          this.timeouts.push(
            setTimeout(
              () => {
                audioPlayer.pause();
                this.clearTimeouts();
              },
              (timer.time + this.gap) * 1000
            )
          );
        },
        startRoutine() {
          var lastTimeout = 0;
          this.timers.forEach((timer) => {
            this.timeouts.push(
              setTimeout(() => this.startTimer({...timer}), lastTimeout * 1000)
            );
            lastTimeout += timer.time + this.gap;
          });
          audioPlayer.play();
        },
        clearTimeouts() {
          this.timeouts.forEach((timeout) => clearTimeout(timeout));
          this.timeouts = [];
        },
        stop() {
          clearInterval(interval);
          this.activeTimer = {
            time: 0,
            name: "Tap Start to Exercise",
          };
          audioPlayer.pause();
          window.speechSynthesis.cancel();
          this.clearTimeouts();
        },
      }).mount("#app");
      if (window.location.host != "localhost") {
        if ("serviceWorker" in navigator) {
          window.addEventListener("load", function () {
            navigator.serviceWorker
              .register("/bhel/sw.js")
              .then((res) => console.log("service worker registered"))
              .catch((err) =>
                console.log("service worker not registered", err)
              );
          });
        }
      }
    </script>
  </head>
  <body>
    <main class="container" id="app">
      <hgroup style="text-align: center">
        <h1>Bhel</h1>
        <h4>Your Light Exercise Timer 💪</h4>
      </hgroup>
      <!-- Grid -->
      <div class="grid" v-cloak>
        <article>
          <hgroup style="text-align: center">
            <h1>{{activeTimeString}}</h1>
            <h2>{{activeTimer.name}}</h2>
          </hgroup>

          <footer>
            <button @click="startRoutine" v-if="timeouts.length === 0">
              Start Routine (💪 {{totalRoutineTime}})
            </button>
            <button class="secondary" @click="stop" v-else>Stop</button>
            <audio id="exercise-audio" loop>
              <source
                src="assets/music/mixkit-rising-forest-471.mp3"
                type="audio/mpeg"
              />
              Your browser does not support the audio element.
            </audio>

            <details>
              <summary>Routines</summary>
              <br />
              <button
                class="secondary"
                type="button"
                @click="setRoutine(defaultTimers)"
              >
                Default Routine
              </button>
              <button class="secondary" type="button" @click="setRoutine([])">
                🚮 Clear Routine
              </button>
            </details>
            <details v-if="timers.length">
              <summary>Routine Exercises ({{timers.length}}) </summary>
              <br />
              <template v-for="(timer, index) in timers">
                <button
                  :key="timer"
                  class="exercise contrast"
                  @click="startSingleTimerWithMusic(timer)"
                >
                  <small>{{timer.name}} {{timer.time}}s</small>
                </button>
                <button
                  :key="`${timer}x`"
                  class="remove-exercise secondary"
                  @click="removeIndexFromTimer(index)"
                >
                  &times;
                </button>
              </template>
            </details>
            <details>
              <summary>Stats</summary>
              <br />
              <small>Overall Time Spent: {{readableTotalTimeSpent}}</small>
            </details>
          </footer>
        </article>
        <article>
          <label for="firstname">
            Name
            <input
              v-model="name"
              type="text"
              id="name"
              name="name"
              placeholder="Name"
              required
            />
          </label>
          <label for="firstname">
            Seconds
            <input
              v-model="time"
              type="number"
              min="15"
              step="5"
              value="15"
              id="time"
              name="time"
              placeholder="time"
              required
            />
          </label>
          <button type="button" @click="addTimer">Add Timer</button>
        </article>
      </div>
      <footer>
        <small>
          audio:
          <a href="https://mixkit.co/" target="_blank" rel="noopener">
            Mixkit </a
          >, styles:
          <a href="https://picocss.com/" target="_blank" rel="noopener">
            Pico </a
          >, scripts:
          <a
            href="https://github.com/vuejs/petite-vue"
            target="_blank"
            rel="noopener"
          >
            petite-vue </a
          >, made by:
          <a
            href="https://twitter.com/prikeshdexter"
            target="_blank"
            rel="noopener"
          >
            @prikeshdexter
          </a>
        </small>
      </footer>
    </main>
  </body>
</html>
